.navigation {
    height: 70px;
    width: 100;
    display: flex;   
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .logo-container {
        height: 100%;
        width: 350px;
        padding: 25px;
    }

    .nav-links-container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-right: 250px;

        .nav-link {
            cursor: pointer;
        }

        .nav-link {
            position: relative;
            padding: 10px;
            text-decoration: none;
            color: black;
            transition: border-radius 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
        
        .nav-link:hover {
            background-color: pink;
            color: white;
            border: 1px solid #000;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transform: translateY(-5px);
        }

    }

}

