.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 10px;

  .background-image {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    border-radius: 10px;
  

    .category-body-container {
      padding: 20px;
      text-align: center;
    }
    
    .category-body-container h2,
    .category-body-container p {
      margin: 10px 0;
    }
  }

  .category-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-button:hover {
    background-color: #cc0000;
  }
}
