.checkout-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.checkout-items {
  margin-top: 20px;
}

.checkout-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
  justify-content: space-between;
}

.item-removed-button {
  height: 30px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.item-removed-button:hover {
  background-color: #0056b3;
  color: #fff;
  border: none;
}

.item-count-controls {
  border-radius: 5px;
  padding: 1px;
  display: flex;
  border: 1px solid gray;
  align-items: center;
}

.item-count-button {
  background-color: gray;
  color: white;
  height: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.item-count-button:hover {
  background-color: #ccc;
  border: gray;
}

.item-count-display {
  margin: 0 10px;
  font-size: 16px;
}

.checkout-item img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}